* {
  list-style: none;
  font-family: 'Gilroy2';
  font-size: 16px;
}
@font-face {
  font-family: 'Gilroy2';
  src: url(./font/Gilroy-Regular.woff);
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #22242c;
  color: white;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 1 auto;
  }
  .content__menu-nav {
    margin: 30px;
  }
  .container {
    max-width: 1024px;
    margin: 0px auto;
    position: relative;
  }

  .menu-nav {
    &__row {
      display: flex;
      justify-content: space-between;
    }
    &__link {
      display: flex;
      align-items: center;
    }
    &__btn {
      padding-right: 30px;
    }
    &__list {
      display: flex;
      li {
        position: relative;
        padding-right: 10px;
      }
    }
    &__active {
      position: absolute;
      right: 10px;
      left: 0;
      bottom: 20px;

      height: 3px;
      width: 21px;
      background: url('./span.svg') no-repeat;
      margin: 0 auto;
    }

    &__auth {
      display: flex;

      li {
        padding-right: 0px;
        padding-left: 10px;
      }
    }
  }
  .welcome-section {
    &__body {
      min-width: 375px;
      width: 560px;
      margin: 0 auto;
    }
    &__heading {
      font-size: 24px;
      max-width: 350px;
      margin: 20px auto;
      text-align: center;
    }
    &__logo {
      max-width: 188px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 100px 30px;
    }
    &__left {
      position: absolute;
      left: 30px;
      right: 1;
    }
    &__right {
      position: absolute;
      left: 1;
      right: 30px;
    }
  }

  .logo {
    &__row {
      display: flex;
      align-items: center;
      p {
        font-size: 24px;

        margin-left: 10px;
      }
    }
  }

  .search {
    background-color: #292a33;
    border-radius: 50px;
    max-width: 530px;

    margin: 0 30px;
    min-height: 40px;
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      padding-left: 15px;
    }
    &__body {
      max-width: 528px;
    }
    &__input {
      display: flex;
      align-items: center;

      input {
        width: 150px;

        color: white;
        margin-left: 10px;
        background-color: rgba($color: #000000, $alpha: 0);
      }
      ::placeholder {
        color: #b0b1b4;
      }
    }
  }

  .filter {
    &__row {
      display: flex;
      align-items: center;

      li {
        margin-left: 10px;
      }
    }
    &__category,
    &__type,
    &__serth {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #23252d;
      border-radius: 20px;
      img {
        margin-left: 5px;
      }
    }
    &__serth {
      color: black;
      font-weight: 600;
      background-color: #8ac185;
    }
  }

  .heding-section {
    &__row {
      display: flex;
      justify-content: space-between;
      margin: 30px;
      align-items: center;
    }
    &__heding {
      font-size: 24px;
    }
    &__dropdown {
      display: flex;
      align-items: center;
      color: #8ac185;
      font-size: 12px;
      img {
        margin-left: 5px;
      }
    }
  }

  .category {
    font-size: 16px;
    &__row {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      ul {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    &__list-elemental,
    &__list-weapons {
      li {
        padding: 5px;
        img {
          margin-right: 5px;
        }
      }
    }
    &__list-weapons {
      margin-left: 30px;

      img {
        height: 25px;
        width: 25px;
        background-color: #292a33;
        border-radius: 100px;
      }
    }
    &__list-elemental {
      li {
        padding: 10px;
      }
    }
  }

  .card {
    &__row {
      display: flex;
      justify-content: center;
      margin: 30px;
      ul {
        display: inline-grid;
        column-gap: 10px;

        row-gap: 10px;
        grid-template-columns: repeat(7, 90px);
        grid-template-rows: repeat(4, 90px);
      }
    }
    &__item-1,
    .person {
      height: 100%;
      background-color: #292a33;
      border-radius: 10px;
    }
  }

  .person {
    &__row {
      padding: 5px;

      .person__list {
        width: 80px;
        height: 80px;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-rows: repeat(3, 33.33%);

        justify-items: center;
        align-items: end;

        column-gap: 0;

        row-gap: 0;
        // border: 2px solid white;
      }
    }
    &__item-1 {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: center;
      justify-self: center;
    }
    &__item-2 {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;
      align-self: center;
      justify-self: center;
    }
    &__item-3 {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: flex-start;
    }
    &__item-4 {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: flex-end;
    }
    // &__list {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    // }
  }

  .footer {
    width: 100%;
    height: 300px;
    background-color: #1a1b21;
  }
  @media (max-width: 768px) {
    .card__row ul {
      grid-template-columns: repeat(7, 90px);
      grid-template-rows: repeat(4, 90px);
    }
  }

  @media (max-width: 767px) {
    .menu-nav__list li:nth-last-child(-n + 2) {
      display: none;
    }

    .welcome-section__left,
    .welcome-section__right {
      display: none;
    }

    .welcome-section__body {
      min-width: 320px;
      margin: 0 auto;
    }
    .welcome-section__row {
      margin: 30px auto;
    }
    .card__row ul {
      grid-template-columns: repeat(6, 90px);
      grid-template-rows: repeat(5, 90px);
    }
  }
  @media (max-width: 682px) {
    .category__row {
      margin: 0;
    }
  }

  @media (max-width: 620px) {
    .card__row ul {
      grid-template-columns: repeat(4, 90px);
      grid-template-rows: repeat(7, 90px);
    }
  }

  @media (max-width: 547px) {
    .filter__category {
      display: none;
    }
    .category__list-weapons li {
      display: none;
    }
    .category__row {
      flex-direction: column;
    }
  }

  @media (max-width: 424px) {
    .filter__type,
    .menu-nav__auth li:nth-last-child(2) {
      display: none;
    }
    .search__input {
      input {
        width: 120px;
      }
    }
    .card__row ul {
      grid-template-columns: repeat(3, 90px);
      grid-template-rows: repeat(10, 90px);
    }
  }
  @media (max-width: 425px) {
  }
  @media (max-width: 375px) {
    .heding-section__row {
      min-width: 260px;
    }
  }
}
